.father {
    margin-left: 2.5rem;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.img {
    width: 15rem;
    height: 15rem;
    margin-right: 2rem;
}

.txt{
    font-size: 1.875rem;
    margin: 0;
}


@media only screen and (max-width: 425px) {
    .container {
        font-size: 1.2rem;
    }
    .img{
        margin-right: 1rem;
        width: 8rem;
        height: 8rem;
    }
    .txt{
        font-size: 1rem;
    }
  }
  