.container {
    width: 19rem;
    height: 22rem;
    border-radius: 2.0625rem;
    border: 5px solid #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    margin: 2.5rem 0 0 2.5rem;
    margin-bottom: 4rem;
}

.profile{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.normalTxt {
    font-size: 1.25rem;
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
}

.signOutTxt{
    cursor: pointer;
    opacity: 0.7;
    margin: 2rem 0 1.3rem 0;
    text-decoration-line: underline;
}